/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap'); */
@import './themes.css';
@import './utils.css';
@import './index.css';
@import './pengantarPage.css';
@import './silabusPage.css';
@import './pengertianWebsitePage.css';
@import './pengertianServerClientPage.css';
@import './strukturWebsitePage.css';
@import './strukturHtmlPage.css';
@import './tagHtmlPage.css';
@import './semanticHtmlPage.css';
@import './exercisePage.css';
@import './tugasAkhirPage.css';
@import './submissionPage.css';
@import './codeEditor.css';
@import './htmlEditor.css';
@import './404.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--text-grey);
    font-size: var(--text-m);
}

main {
    padding: 80px;
}

@media screen and (max-width: 768px) {

    main {
        padding: 30px 24px;
    }
}