@import './utils.css';


.instruction {
    border: 1px solid var(--neutral-300);
    border-radius: var(--rounded-sm);
    overflow: hidden;
    margin-top: 30px;
}

.accordion {
    background-color: var(--neutral-50);
    color: var(--text-black);
    font-weight: 600;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: var(--text-m);
    transition: 0.4s;
  }

  .accordion:after {
    content: '\02795'; 
    color: var(--neutral-400);
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; 
    color: var(--neutral-400);
  }
  
  .active, .accordion:hover {
    background-color: var(--neutral-200); 
  }
  
  .panel-instruction {
    padding: 0 15px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-bottom: 1px solid var(--neutral-300);
  }

  .panel-instruction p {
    padding-top: 10px;
    font-size: var(--text-sm);
    margin-bottom: 10px;
  }

  .panel-instruction ul {
    padding: 0 15px;
    list-style-type: disc;
  }

  .panel-instruction ul li {
    padding: 3px 0;
  }

  .panel-instruction ul li p {
    text-decoration: none;
    color: var(--text-grey);
    font-size: var(--text-sm);
    margin: 0;
  }

  .btn-mulai__tugas {
    margin-top: 50px;
    width: 100px;
    right: 80px;
  }

  @media screen and (max-width: 768px) {

    .silabus-accordion {
        margin-top: 30px;
    }

    .panel-instruction ul li a {
        font-size: var(--text-m);
    }

    .btn-mulai__tugas {
        margin-top: 30px;
        right: 24px;
    }
  }